<div class="jumbotron">
    <h1>EmoticonTap Game Center</h1>
    <p class="lead"> EmoticonTap Center -beta is an online multiplayer social gaming network.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Storage Your Score</h2>
        <p>Start a multiplayer game through matchmaking, track their achievements, and compare their high scores on a leader board </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Invite Friends </h2>
        <p>Coming soon..</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Multiplayer</h2>
        <p>Coming soon...</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
